body {
  font-family: Noto Sans;
  box-sizing: border-box;
}
.block {
  background-color: #FFDB4C;
  padding: 20px;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.line {
  border-bottom: 1px solid #CAD8E3;
}
.footer {
  background: #2D2D2D;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .d-md-none {
    display: none;
  }
}
@media (max-width: 767px) {
  .d-xl-none {
    display: none;
  }
}
.logo {
  text-align: center;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 40px;
  text-transform: uppercase;
}
.logo .logo__name {
  font-size: 33px;
  color: #000;
  line-height: 1.5;
  letter-spacing: 5.5px;
}
@media (min-width: 992px) {
  .logo .logo__name {
    font-size: 38px;
    letter-spacing: 9px;
  }
}
.logo .logo__slogan {
  font-size: 14px;
  color: #a1bbd9;
  line-height: 1;
  letter-spacing: 7px;
}
@media (min-width: 992px) {
  .logo .logo__slogan {
    font-size: 16px;
    letter-spacing: 10px;
  }
}
.navigation {
  background-color: #38383a;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .navigation {
    background: #38383a;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
.navigation ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #35577D;
}
@media (min-width: 992px) {
  .navigation ul {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }
}
.navigation ul li {
  margin: 0;
  padding: 0;
  letter-spacing: 4px;
  border-bottom: 1px solid #466a92;
}
@media (min-width: 992px) {
  .navigation ul li {
    border-bottom: none;
    padding: 0;
  }
}
.navigation ul li.active {
  color: #ffcc00;
}
.navigation ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .navigation ul li a {
    padding: 0;
    display: inline;
  }
}
.navigation ul li a:hover,
.navigation ul li a.active {
  color: #ffcc00;
}
.navigation__toggle-button {
  display: block;
  position: relative;
  cursor: pointer;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #38383a;
}
.navigation__toggle-button:before {
  content: "";
  position: absolute;
  top: 23px;
  right: 15px;
  width: 25px;
  height: 20px;
  background: url('../img/icons/navigation-icon.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.navigation__toggle-button:focus,
.navigation__toggle-button:active {
  background-color: #16385F;
}
@media (min-width: 992px) {
  .navigation__toggle-button {
    display: none;
  }
}
.navigation__toggle-button--active {
  background-color: #16385F;
}
.container--mobile--no-padding {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .container--mobile--no-padding {
    padding-left: 15px;
    padding-right: 15px;
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container--mobile--no-padding {
    width: 1140px;
  }
}
.slider {
  background-image: url('../img/bg/slider-bg.jpg');
  background-position: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 65px;
  padding-bottom: 100px;
}
.slider .logo_title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #fff;
  padding-bottom: 15px;
}
@media (min-width: 992px) {
  .slider .logo_title {
    font-size: 32px;
    line-height: 42px;
  }
}
.slider .logo_slogan {
  font-family: 'Noto Serif';
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #cddfe0;
  text-align: center;
}
@media (min-width: 992px) {
  .slider .logo_slogan {
    font-size: 22px;
    line-height: 32px;
  }
}
@media (min-width: 1200px) {
  .slider .logo_slogan {
    display: none;
  }
}
.slider .text_md {
  font-family: 'Noto Serif';
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  color: #cddfe0;
  text-align: center;
}
@media (max-width: 1199px) {
  .slider .text_md {
    display: none;
  }
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.top-slider-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}
/* Styling Next and Prev buttons */
.top-slider-theme .owl-controls .owl-buttons div {
  display: none;
  position: absolute;
  width: 72px;
  height: 72px;
  top: 50%;
  margin-top: -36px;
}
@media (min-width: 992px) {
  .top-slider-theme .owl-controls .owl-buttons div {
    display: block;
  }
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-prev {
  left: 0;
  background-image: url('../img/icons/arrow-left.png');
}
.owl-next {
  right: 0;
  background-image: url('../img/icons/arrow-right.png');
}
/* Styling Pagination*/
.owl-pagination {
  position: absolute;
  width: 100%;
  bottom: -80px;
}
@media (min-width: 992px) {
  .owl-pagination {
    display: none;
  }
}
.top-slider-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.top-slider-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}
.top-slider-theme .owl-controls .owl-page.active span,
.top-slider-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
/* If PaginationNumbers is true */
.top-slider-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
