.section {
    padding-top: 32px;
    padding-bottom: 50px;

    @media (min-width: 768px) {
        padding-bottom: 72px;
    }

    @media (min-width: 1200px) {
        padding-top: 58px;
    }    
}
        // xs benefits 1-я картинка
.mt-27 {
    margin-top: 27px;

    @media (min-width: 768px) {
        margin-top: 0;
    }
}
.mt-12 {
    margin-top: 12px;
}
        // xs benefits 3-я картинка
.mb-27 {
    margin-bottom: 27px!important;
}